.json-formatter-row .json-formatter-string, .json-formatter-row .json-formatter-stringifiable {
    white-space: unset !important;
}

.json-formatter-dark.json-formatter-row .json-formatter-row {
    line-height: 1.5;
}

.json-container {
    background: #272822;
    padding: 20px;
}

.json-formatter-string {
    color: #fd971f !important;
}

.json-formatter-key, .json-formatter-bracket {
    color: #f9f8f5 !important;
    letter-spacing: 0.5px;
}

.json-formatter-number {
    color: #cc6633 !important;
}
